html {
	height: 100%;
	background: #3b3a30;
	font-family: 'segoe ui', arial;
}

body {
  width: 900px;
  margin: auto;
}

h1{
	margin: auto;
	max-width: 600px;
	text-align: center;
	color: #ffeead;
	font-style: italic;
	margin-top: 15px;
	font-size: 48px;
}

.submitUsername {
	text-align: center;
	margin-top: 15px;
	
}

#username{
	width: 30%;
	background: #eaece5;
	border: none;
	height: 25px;
	font-family: inherit;
	color: #3b3a30;
}

input[type=button]{
	background: #c0ded9;
	border: none;
	height: 25px;
	font-family: inherit;
	color: #3b3a30;
}

.collage {
	text-align: center;
	margin-top: 30px;
}

.select{
	background: #eaece5;
}