html {
	height: 100%;
	background: #3b3a30;
	font-family: 'segoe ui', arial;
}

body {
  width: 900px;
  margin: auto;
}

h1{
	margin: auto;
	max-width: 600px;
	text-align: center;
	color: #ffeead;
	font-style: italic;
	margin-top: 15px;
	font-size: 48px;
}

.submitUsername {
	text-align: center;
	margin-top: 15px;
}

#username{
	width: 30%;
	background: #eaece5;
	border: none;
  height: 25px;
	font-family: inherit;
	color: #3b3a30;
}

fieldset{
	width: 200px;
	text-align: left;
	margin: 0 13%;
	color:#ffeead;
	font-size: 12px;
}

input[type=button]{
	background: #c0ded9;
	border: none;
	font-family: inherit;
	color: #3b3a30;
}

.collage {
	text-align: center;
	margin-top: 30px;
	min-height: 600px;
}

select{
	background-color: #eaece5;
	border: 1px solid #ffeead;
}

select, input[type=button]{
	height: 27px;
}

canvas{
	margin-bottom: 50px;
}

footer{
	width: 900px;
	text-align: center;
}

.credits{
	width: 250px;
	margin: 0 auto;
	border-top: 1px solid #ffeead;
	border-bottom: 1px solid #ffeead;
	padding-bottom: 5px;
	color: whitesmoke;
}

a{
	color: #c0ded9;
}

a:visited{
	color: tomato;
}

p {
	text-align: center;
	color: #eaece5;
	padding: 30px;
	margin: auto;
	margin-top: 30px;
	max-width: 400px;
	border-radius: 3px;
	border: 1px dashed 
}